// Przyciski
.button {
    background-color: $highlightColor;
    box-shadow: 0px 4px 4px $boxShadowColor;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $whiteColor;
    cursor: pointer;
    border-style: none;
  
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--hero {
        padding: 10px 41px;
        margin: 0 auto;
      }

    &--modal {
        padding: 10px 76px;
        margin: 20px auto 0;
        display: block;
      }

    &--filter {
        box-shadow: none;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: $mainColor;
        background-color: $teamColor;
        border-radius: 4px;
      
        padding: 6px 22px;
        margin-right: 8px;
      }

    &--filter:hover,
    &--filter:focus {
       background-color: $highlightColor;
       color: $whiteColor;

       box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                   0px 1px 2px rgba(0, 0, 0, 0.08),
                   0px 2px 2px rgba(0, 0, 0, 0.12);
       border-radius: 4px;
}

    &--footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 10px 28px 10px 42px;
  }
  }